/* your beautiful css styling goes here! */
body {
  margin:0;
  padding:0;
  overflow:hidden;
}
.stage {
  background-color: #333;
}
.food {
  fill: yellow;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

